body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}

.maindiv {
    background-color: white;
    color: black;
    width: 480px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

form { 
    margin: 0 auto; 
    width:380px;
    }

.yellow_bg {
    background-color: yellow;
}

label {
    float: left;
    width: 8em;
    text-align: left;
}
