{% extends "_base.html" %}
{% load static %}

{% block title %}Welcome to bootdj{% endblock title %}

{% block content %}
    <img class="The Coder" src="{% static 'images/coder.png' %}">
    <h1>Bootstrap framework for Django from Fred.</h1>

    {% if user.is_authenticated %}
        <p>Hi {{ user.name }}!</p>
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock content %}